<!DOCTYPE html>

<html>
<head>
  <title>About</title>
  <link rel="icon" href="/img/America_A bit sassy.jpg">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="main-content">
    {{>header}}
    <p>Look at this cutie pie.</p>
    <img class= "portrait" src="/img/America_A bit sassy.jpg">
  </div>
  {{>footer}}
</body>
</html>
