<!DOCTYPE html>

<html>
<head>
  <titel>404</title>
  <link rel="icon" href="/img/America_A bit sassy.jpg">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <div class="main-content">
    {{>header}}
    <p>{{help}}</p>
  </div>
  {{>footer}}
</body>
</html>
